@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



* {
    top: 0;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.text_container {
    padding: 15px 0;
}

body {
    display: flex;
    background-color: #FFFFFF;
    min-height: 100wh;
}

.header {
    background-color: #275168;
    width: 100vw;
    height: 50px;
    position: relative;
}

.header_container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header_logo_container {
    margin-left: 20px;
}

.main {
    max-width: 90%;
    margin: auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_map_container {
    min-width: 200px;
    width: 80%;
}

.map_text_container {
    padding: 15px 0px;
}

.map_content_container {
    height: 600px;
    box-sizing: border-box;
    overflow: hidden;
}


#svgmap {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

text {
  font-size: 15px;

}

rect {
    fill:#D9D9D9;
}


a {
    color: white;
    font-size: 28px;
}

#tip1_a {
    font-size: 20px;
}


.city_selection_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.city_selection_input {
    background-color: #D9D9D9;
    height: 32px;
    width: 32vw;
    border: 1px solid #D9D9D9;
    padding-left: 5px;

}


.city_selection_input:focus {
    outline: 0;
}

.list_of_cities_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
}

.list_of_cities_container {
    width: 100%;
}

.build_button_container {
    margin-bottom: 49.2px;
}

.build_button_content {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.build_button {
    background-color: #275168;
    height: 48px;
    width: 32vw;
    border: 1px solid #275168;
    padding-left: 5px;
    color: white;
    transition: 0.2s;
}

.build_button:hover {
    background-color: white;
    border: 3px solid #275168;
    color: #275168;
}

#list_of_cities_passed {
    padding: 15px 0;
    font-size: 20px;
}

.checkbox_container {
    display: flex;
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #D9D9D9;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_container input:checked~.checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #275168;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


label {
    padding-top: 3px;
}

@media only screen and (max-width: 1450px) {
    .map_content_container {
        height: 500px;
    }

    .list_of_cities_content {
        height: 600px;
    }
}

@media only screen and (max-width: 1150px) {
    .map_content_container {
        height: 450px;
    }

    .list_of_cities_content {
        height: 600px;
    }
}


@media only screen and (max-width: 900px) {
    .map_content_container {
        height: 350px;
    }

    .list_of_cities_content {
        height: 1000px;
    }
}

@media only screen and (max-width: 600px) {
    .map_content_container {
        height: 200px;
    }

    .list_of_cities_content {
        height: 1000px;
    }
}

@media only screen and (max-width: 420px) {
    .checkbox_container {
        font-size: 10px;

    }
}

